body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  .suggestions, .account-type {
    margin-top: 1em; 
    text-align: left;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 100px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    background-color: #fafaee;
    border: 1px solid #fafaee;
    color: #444444;
    border-radius:5px;
    padding: 0 5px 0 5px;
  }
  
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 2em;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #5555ff;
    border-color: #fafaee;
    color: #fafaee;
    min-width: 100px;
  }
  
  a{
    color: #dfdfe2;
  }
  