@import url('https://fonts.googleapis.com/css?family=Handlee');
body {
  background: #ff3822c6;
  text-align: center;
}

.quote-back {
  display: flex;
  flex-direction: column;
  
}


#quote-box {
  background: #f6e58d;
  background: linear-gradient(0deg, #ffe565 0%, #fff0a8 100%);
  border-radius: 0 20px;
  max-width: 800px;
  margin: 80px auto;
  margin-bottom: 40px;
  padding: 30px 20px;
  box-shadow: 5px 3px 15px rgb(0, 0, 0);
  
}

.quote-text{
  font-family: 'Handlee', sans-serif;
  font-size: min(max(3vw, 32px), 58px);
  text-shadow: 4px 4px 4px #aaa;
}

#author {
  margin-top: 10px;
  float: right;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

#buttons {
  margin: auto;
  min-width: 650px;
  
  display: flex;
  justify-content: space-between;
  

}

.btn, .btn:focus {
  color: white!important;
  height: 40px;
  min-width: 180px;
  border-radius: 0 12px;
  box-shadow: 3px 2px 8px rgb(0, 0, 0);
  text-shadow: 2px 2px 3px #000000;
  border: none;
}
.btn-new-quote, .btn-new-quote:active {
  background: linear-gradient(0deg, rgb(21, 94, 212) 0%, rgb(255, 52, 238) 100%);
}
.btn-new-quote:hover, .btn-new-quote:focus {
  background: linear-gradient(0deg, rgb(21, 94, 212) 0%, rgb(243, 136, 234) 100%);
}

.btn-twitter, .btn-twitter:active {
  background: linear-gradient(0deg, rgb(13, 205, 42) 0%, rgb(21, 78, 212) 100%);
}
.btn-twitter:hover, .btn-twitter:focus {
  background: linear-gradient(0deg, rgb(13, 205, 42) 0%, rgb(80, 171, 255) 100%);
}
.btn-tmblr, .btn-tmblr:active {
  background: linear-gradient(0deg, rgb(223, 229, 42) 0%, rgb(21, 152, 47) 100%);
}
.btn-tmblr:hover, .btn-tmblr:focus {
  background: linear-gradient(0deg, rgb(223, 229, 42) 0%, rgb(81, 241, 116) 100%);
}


.author {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.713), -1px -1px 2px rgba(255, 255, 255, 0.611);
  margin-top: 100px;
}
@media screen and (max-width: 750px) {
  #quote-box {
    max-width: 93vw;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  #buttons {
    /* Reset all existing properties */
    margin: 0;
    min-width: auto;
    display: block;
    justify-content: initial;

    /* Set new properties */
    flex-direction: column;
  }

  .btn {
    width: 70vw;

  }
}