body {
    background: #7ed6df;
  }
  
  #editor, #preview {
    background: white;
      min-height: 200px;
      border: 1px solid grey;
      border-radius: 5px;
  }
  #preview img {
      max-width:30%
  }