  body {
    background: grey;    
  }
  .quote-back{
    background: #7ed6df;
    border-radius:20px;
  }
  #quote-box {
    background: #f6e58d;
    border-radius: 20px;
   }
  h1,h2 {
    font-size: calc(min(5vw, 5vh));
  }
  a, a:hover {
    color: white;
    text-decoration:none;
  }
  @media screen and (max-width: 850px) {
    #buttons {
      flex-direction: column;
    }
    .btn {
      width: 45vw;
    }
  }