body {
    background: hsl(204, 80%, 75%);
}

.drum-box {
    background-color: #cf67ef;
    width: 600px;
    height: 300px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    border-radius: 8px;
}


#btn-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    
}

.btn, .btn:focus {
    height: 82px;
    width: 82px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.8);
}
.btn:focus {
    outline: none;
  }


#clip-name {
    height: 28px;
    background-color: antiquewhite;
    font-weight: bold;
}

  @media screen and (max-width: 650px) {
    .drum-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 306px;
      height:600px;
    }
  
  }